<div id="<%= dom_id coin %>">
  <p>
    <strong>Description:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src="<%= coin.url_image %>" alt="<%= coin.description %>" width=10%
    height=10%>
  </p>

</div>
